bin/cutSceen.exe
bin/detector.exe
bin/main.exe
bin/test.jpg
bin/test1.jpg
bin/test2.jpg
bin/img/0.jpg
bin/img/1.jpg
bin/img/2.jpg
bin/img/3.jpg
bin/img/4.jpg
bin/img/5.jpg
bin/img/6.jpg
bin/img/7.jpg
bin/img/8.jpg
bin/img/9.jpg
bin/img/10.jpg
bin/img/11.jpg
bin/img/12.jpg
bin/img/13.jpg
bin/img/14.jpg
bin/img/15.jpg
bin/img/16.jpg
bin/img/17.jpg
bin/img/18.jpg
bin/img/19.jpg
bin/img/20.jpg
bin/img/21.jpg
bin/img/22.jpg
bin/img/23.jpg
bin/img/24.jpg
bin/img/25.jpg
bin/img/26.jpg
bin/img/27.jpg
bin/img/28.jpg
bin/img/29.jpg
src/main.cpp
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-06539368c7e719884d09.json
build/.cmake/api/v1/reply/cmakeFiles-v1-cabd5c59ec6fd019d2a0.json
build/.cmake/api/v1/reply/codemodel-v2-ebb23bbb5ca709fb00c9.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-03-02T13-33-13-0404.json
build/.cmake/api/v1/reply/target-detector-Debug-34bee3ec62fed28c98d6.json
build/.cmake/api/v1/reply/target-main-Debug-49d123d1a45d0494a50d.json
build/.cmake/api/v1/reply/toolchains-v1-897e0b15fafebca46f3d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.5/CMakeCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.5/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeSystem.cmake
build/CMakeFiles/3.31.5/CompilerIdC/a.exe
build/CMakeFiles/3.31.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.5/CompilerIdCXX/a.exe
build/CMakeFiles/3.31.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cutSceen.dir/build.make
build/CMakeFiles/cutSceen.dir/cmake_clean.cmake
build/CMakeFiles/cutSceen.dir/compiler_depend.internal
build/CMakeFiles/cutSceen.dir/compiler_depend.make
build/CMakeFiles/cutSceen.dir/compiler_depend.ts
build/CMakeFiles/cutSceen.dir/depend.make
build/CMakeFiles/cutSceen.dir/DependInfo.cmake
build/CMakeFiles/cutSceen.dir/flags.make
build/CMakeFiles/cutSceen.dir/includes_CXX.rsp
build/CMakeFiles/cutSceen.dir/link.txt
build/CMakeFiles/cutSceen.dir/linkLibs.rsp
build/CMakeFiles/cutSceen.dir/objects.a
build/CMakeFiles/cutSceen.dir/objects1.rsp
build/CMakeFiles/cutSceen.dir/progress.make
build/CMakeFiles/cutSceen.dir/src/cutSceen.cpp.obj
build/CMakeFiles/cutSceen.dir/src/cutSceen.cpp.obj.d
build/CMakeFiles/detector.dir/build.make
build/CMakeFiles/detector.dir/cmake_clean.cmake
build/CMakeFiles/detector.dir/compiler_depend.make
build/CMakeFiles/detector.dir/compiler_depend.ts
build/CMakeFiles/detector.dir/depend.make
build/CMakeFiles/detector.dir/DependInfo.cmake
build/CMakeFiles/detector.dir/flags.make
build/CMakeFiles/detector.dir/includes_CXX.rsp
build/CMakeFiles/detector.dir/link.txt
build/CMakeFiles/detector.dir/linkLibs.rsp
build/CMakeFiles/detector.dir/objects.a
build/CMakeFiles/detector.dir/objects1.rsp
build/CMakeFiles/detector.dir/progress.make
build/CMakeFiles/detector.dir/src/detector.cpp.obj
build/CMakeFiles/detector.dir/src/detector.cpp.obj.d
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/compiler_depend.ts
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/includes_CXX.rsp
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/linkLibs.rsp
build/CMakeFiles/main.dir/objects.a
build/CMakeFiles/main.dir/objects1.rsp
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/src/main.cpp.obj
build/CMakeFiles/main.dir/src/main.cpp.obj.d
